extends layout/main
block variables
	- var pageTitle = 'Статья'
	- var crumbs = [{link: 'index.html', name: 'Главная'}, {link: 'news.html', name: 'Новости'}, {name: 'Статья', last: true}]
block content
	main
		section.section.article
			.container
				h2.section__title.article__title В каких случаях "Кайрат" может стать чемпионом Казахстана-2016
				.article__date
					span.date__item Майя Яровая
					span.date__item 02 Мая 2015
					span.date__item.date__item_eye 4269
				p.article__text.
					"Кайрат" сохраняет теоретические шансы на победу в национальном чемпионате. 
					Для этого алматинцам нужно выиграть в оставшихся двух турах и надеяться на 
					осечки лидирующей в таблице "Астаны". 
				p.article__text.
					До завершения чемпионата Казахстана осталось два тура. Однако "Астана" 
					проведет три игры с учетом перенесенного матча в рамках 25-го тура с 
					"Окжетпесом". На сегодняшний день астанчане на три очка опережают идущих 
					в таблице на втором месте алматинцев. Следовательно, если команды одержат 
					победы в 31-м туре, чемпион по-прежнему не определится. Трехочковое 
					отставание "Кайрата" от первого места сохранится. Поэтому все может 
					решиться в заключительном 32-м туре, в котором "Астане" достаточно будет 
					сыграть вничью, или же ранее в перенесенном матче 25-го тура с синегорцами.
				p.article__text.
					Для чемпионства "Астане" в оставшихся играх нужно набрать четыре очка. Если 
					же она наберет менее трех очков (две ничьи/поражение или три поражения 
					подряд), то золотые медали достанутся "Кайрату", но при условии, что 
					алматинцы свои игры выиграют.
				.article__img
					img(src=require("./img/news/article1.jpg").default, alt="article")
				p.article__text.
					Если равенство очков было бы у более двух команд, претендующих на первое место, 
					тогда бы учитывались результаты игр между собой (число очков, число побед, 
					разность забитых и пропущенных мячей, число забитых мячей, число мячей, забитых 
					на чужом поле); лучшая разность забитых и пропущенных мячей во всех матчах; 
					наибольшее число побед во всех матчах; наибольшее число забитых мячей во всех 
					матчах; наибольшее число мячей, забитых на чужих полях во всех матчах. 
				p.article__text.
					В 31-м туре (23 октября) "Астана" на своем поле примет "Актобе", а "Кайрат" 
					отправится в гости к "Иртышу". 26 октября "Астана" на выезде проведет перенесенный 
					матч 25-го тура с "Окжетпесом". В 32-м туре (29 октября) "Астана" также на выезде 
					сыграет с "Иртышом", а "Кайрат" дома встретится с "Окжетпесом". С турнирным положением 
					клубов можно ознакомиться здесь.
				.flex.justify-space-between
					.article__img
						img(src=require("./img/news/article2.jpg").default, alt="article")
					.article__img
						img(src=require("./img/news/article3.jpg").default, alt="article")
				p.article__text.
					Если равенство очков было бы у более двух команд, претендующих на первое место, тогда 
					бы учитывались результаты игр между собой (число очков, число побед, разность забитых и 
					пропущенных мячей, число забитых мячей, число мячей, забитых на чужом поле); лучшая разность 
					забитых и пропущенных мячей во всех матчах; наибольшее число побед во всех матчах; наибольшее 
					число забитых мячей во всех матчах; наибольшее число мячей, забитых на чужих полях во всех 
					матчах.
				p.article__text.
					В 31-м туре (23 октября) "Астана" на своем поле примет "Актобе", а "Кайрат" отправится в гости 
					к "Иртышу". 26 октября "Астана" на выезде проведет перенесенный матч 25-го тура с "Окжетпесом". 
					В 32-м туре (29 октября) "Астана" также на выезде сыграет с "Иртышом", а "Кайрат" дома встретится 
					с "Окжетпесом". С турнирным положением клубов можно ознакомиться здесь.
				p.article__text.article__text_bold.
					С расписанием начала матчей чемпионата Казахстана по футболу, а также с другими новостями о КПЛ 
					и первой лиге можно ознакомиться на сайте ПФЛК.