extends layout/main

block variables
	- var pageTitle = 'Поиск'
	- var crumbs = [{link: 'index.html', name: 'Главная'}, {name: 'Статистика', last: true}]
block content
	main
		section.section.search
			.container
				h2.section__title.search__title.
					Введите имя и фамилию Вашего ребенка
				.section__ball
					img(src=require("./img/ball.png").default, alt="ball")
				h3.section__subtitle.search__subtitle.
					Чтобы посмотреть его данные по результатам тренировок и сдачи нормативов
				include modules/searchInput
