header.header
	.burger
		span
		span
		span
	.burger-menu
		.burger-menu__city-list.city-list
			.city-enter Выберите город
				include ../img/down-arrow.svg
			ul.d-none
				a(href="#")
					li.city-list__item Астана 
				a(href="#")
					li.city-list__item Новокузнецк 
				a(href="#")
					li.city-list__item Калининград 
		ul.burger-menu__list
			li.burger-menu__item
				a(href="index.html") О нас
			li.burger-menu__item
				a(href="statistic.html") Статистика
			li.burger-menu__item
				a(href="news.html") Новости
			li.burger-menu__item
				a(href="contacts.html") Контакты
	.container.align-center
		.header__logo
			a(href="index.html")
				img(src=require("./img/logo.png").default, alt="logo")
		.header__city-list.city-list
			.city-enter Выберите город
				img(src=require("./img/arrow-top.png").default, alt="arrow")
			ul.d-none
				a(href="#")
					li.city-list__item Астана 
				a(href="#")
					li.city-list__item Новокузнецк 
				a(href="#")
					li.city-list__item Калининград 
		nav.header__nav.nav
			ul.flex
				li.nav__item 
					a(href="index.html") О нас
				li.nav__item 
					a(href="statistic.html") Статистика
				li.nav__item 
					a(href="news.html") Новости
				li.nav__item 
					a(href="contacts.html") Контакты
		.header__phone.phone 
			a(href="tel:+77024407007") +7 702 #[span 440 70 07] 
		button.header__button.button(data-toggle="modal") перезвоните мне
	block hero
		

