.experience {
  &__inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto 11.375rem;
    @media screen and (max-width:992px) {
      margin-bottom: 8rem;
    }
  }
  &__item {
    border: #000 1px solid;
    padding: 1.5rem 0;
    text-align: center;
    &_black {
      background-color: #000;
      color: #fff;
    }
    @media screen and (max-width:992px) {
      padding: 1rem 0;
    }
  }
  &__number {
    font-size: 3.5rem;
    margin-bottom: 0.875rem;
    @media screen and (max-width:992px) {
      font-size: 2.5rem;
    }
  }
  &__text {
    font-size: 1rem;
  }
}