.footer {
  background-color: #161513;
  color: #fff;
  padding: 4.125rem 0 1.562rem;
  &__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "logo menu" "copyright social";
    align-items: center;
    grid-row-gap: 3rem;
    @media screen and (max-width: 768px) {
      grid-template-columns: 1fr;
      grid-template-areas: "menu" "social" "copyright";
    }
  }
  &__menu, &__social {
    justify-self: end;
    @media screen and (max-width: 768px) {
      justify-self: center;
    }
  }
  &__menu {
    padding: 0 1rem;
    grid-area: menu;
    display: flex;
    align-items: center;
  }
  &__link {
    color: #fff;
    font-size: 1rem;
    transition: color 0.3s;
    &:not(:last-child) {
      margin-right: 2.875rem;
    }
    &:hover {
      color: rgb(141, 140, 140);
    }
  }
  &__logo {
    grid-area: logo;
    @media screen and (max-width: 768px) {
      display: none;
    }
  }
  &__copyright {
    color: #F2F1EF;
    grid-area: copyright;
  }
  &__social {
    display: flex;
    align-items: center;
    grid-area: social;
    &-link {
      border: 1px solid #fff;
      border-radius: 50%;
      padding: 8px;
      &:not(:last-child) {
        margin-right: 1rem;
      }
      & img {
        display: block;
      }
    }
  }
}