*, *:before, *:after {
  box-sizing: border-box;
}
html {
  font-family: 'Bai Jamjuree', sans-serif;
  font-size: 16px;
  @media screen and (max-width: 1200px) {
    font-size: 15px;
  }
  @media screen and (max-width: 992px) {
    font-size: 14px;
  }
  @media screen and (max-width: 768px) {
    font-size: 13px;
  }
  @media screen and (max-width: 576px) {
    font-size: 12px;
  }
}
body {
  overflow-x: hidden;
  background-color: #F5F5F5;
  &.lock {
    overflow: hidden;
  }
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
input, button {
  outline: none;
}
button {
  cursor: pointer;
}
.container {
  max-width: 1060px;
  padding: 0 1rem;
  margin: 0 auto;
}
.title {
  font-size: 2.81rem;
  text-align: center;
  position: relative;
  &::before {
    content: url("./img/circle.svg");
    position: absolute;
    top: -3.875rem;
    left: 50%;
    transform: translateX(-50%);
    width: 2.5rem;
    height: 2.5rem;
  }
}
.subtitle {
  font-size: 1.125rem;
}
.title, .subtitle {
  text-align: center;
}